.container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  &__image {
    width: 65%;
    height: 90%;
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 105rem;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      90deg,
      #f7f9fd 0,
      #f7f9fd 50%,
      rgba(247, 249, 253, 0.5) 65%,
      rgba(247, 249, 253, 0) 75%,
      rgba(247, 249, 253, 0)
    );

    color: #000;
    & > p {
      padding-left: 15rem;
      color: #18467f;
      font-weight: 300;
      line-height: 1.2;
      font-size: 3rem;
      margin-bottom: 1.6rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    background: #f7f9fd;
    &__text {
      margin-left: 0px;
      & > h2 {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
      }
    }
  }
}
