<div class="container">
  <div class="container__video" (click)="openVideoModal()">
    <img src="../../assets/exagrid-video-play-button-icon.png" />
  </div>
  <div class="container__text">
    <h2 class="Primary_h2">ExaGrid: przyszłość dla backupu.</h2>
    <p>
      Zobacz materiał firmowy o najlepszej macierzy do składowania Twojego
      backupu. Nigdy więcej planowania rozbudowy. Nigdy więcej nieprzewidzianych
      kosztów. Nigdy więcej braku wydajności. Zawsze stałe okno backupu.
    </p>
    <button [routerLink]="['/testing']">testuj rozwiązanie</button>
  </div>
</div>
