<div class="container">
  <div class="container__video" (click)="openVideoModal()"></div>
  <div class="container__text">
    <h2>Skalujemy się do pojemnosci 6PB</h2>
    <span>
      Exagrid daje Ci możliwość stworzenia klastra o pojemnosci maksymalnej 6PB.
      Klaster jest zestawem macierzy w jednym fizycznym ośrodku przetwarzania
      danych (Data Center). Do budowy Twojego klastra możesz użyć dowolnych
      modeli Exagrida, ale nie możesz przekroczyć ilosci masymalnej 32 sztuk.
      Rozbudowa GRID’a (klastra) odbywa się poprzez „dopinanie” kolejnych
      macierzy. Nie wymianiasz kontrolerów. Nie planujesz na zaś. Nie kupujesz
      na zaś. Nie zastanawiasz się, ile wydajności dostaniesz. Wydajność?
      Sumujesz. Pojemnosć? Sumujesz. A deduplikacja? Zawsze globalna dla całego
      GRID’a. Okno backupowe? Na pewno stałe, a być może się skróci. Masz
      jeszcze pytania? Kliknij zakładkę „Przetestuj mnie”.
    </span>
    <button (click)="openVideoModal()">WIĘCEJ</button>
  </div>
</div>
