<div class="container">
  <h2 class="Primary_h2">Ochrona przed skutkami Ransomware</h2>
  <p>
    ExaGrid to jedyna istniejąca macierz do przechowywania kopii zapasowych,
    która posiada sama w sobie obszar niedostępny z zewnątrz (odsieciowiony).
    Oznacza to, że nie potrzebujesz kupić dwóch urządzeń z replikacją, żeby
    zrobić airgapa. Od momentu wykrycia, że zostałeś zaszyfrowany masz do 30 dni
    historii swoich backupów (dzienne- tygodniowe- roczne), z których możesz się
    przywrócić. Pamietaj- nie chodzi o dane z ostatnich 30 dni, ale o wszystkie
    dostępne backupy z ostatnich 30 dni. To unikalne podejście gwarantuje, że w
    przypadku ataku ransomware można łatwo odzyskać dane lub uruchomić maszyny
    wirtualne wprost z macierzy ExaGrid. Odzyskasz dane produkcyjne, a do tego
    wszystkie zachowane kopie zapasowe pozostaną nienaruszone.
  </p>
  <button (click)="openVideoModal()">Obejrzyj</button>
</div>
