<div class="container">
  <div class="container__grid_4c">
    <div class="container__grid_4c__item">
      <p>Hub4 Sp. z o.o.</p>
      <p>ul. Kleszczowa 14A</p>
      <p>02-485 Warszawa</p>
    </div>
    <div class="container__grid_4c__image">
      <img src="../../assets/HUB4_LOGO-PACK_biale.png"  />
    </div>
      <div class="container__grid_4c__item">
      <p><a class="unstyled-link" [href]="mailtoLink">kontakt@hub4.pl</a></p>
 
      <p>tel:+48501482401</p>
      <p>tel:+48501HUB401</p>
     
    </div>
    <div class="container__grid_4c__item">
      <p>  © 2024 Q4Tech. All Rights Reserved</p>
    </div>
  </div>
</div>
