<div class="container">
  <h2>Dlaczego ExaGrid? Bo nie ma drugiego tak mądrego rozwiązania.</h2>
  <p class="container__subText">
    Exagrid jest specjalizowaną macierzą dyskową, której głównym zadaniem jest:
    składować, zabezpieczać i szybko przywracać kopie Twoich backupów.
    Rozwiązanie jest rozwiązaniem klasy GRID- każda macierz ma konkretną
    pojemność i wydajność. Macierze łączymy w GRID’a (do 32 sztuk). Wydajności i
    pojemności sumują się, a Ty już wiecej nie będziesz się zastanawiać, jak
    zaplanować rozbudowę w przyszłości.
  </p>
  <div class="container__sections">
    <app-section
      *ngFor="let feature of features"
      [feature]="feature"
    ></app-section>
  </div>
</div>
