<div class="container">
  <h2>Dlaczego ExaGrid? Bo nie ma drugiego tak mądrego rozwiązania.</h2>
  <p class="container__subText">
    Exagrid jest specjalizowaną macierzą dyskową, która ma jedno zadanie:
    składować, zabezpieczać i szybko przywracać kopie Twoich backupów.
    Rozwiązanie jest rozwiązaniem klasy GRID- macierz ma swoją pojemność i
    wydajność. Macierze łączymy w GRID’a (do 32 sztuk). Wydajność i pojemność
    sumują się, a Ty już wiecej nie będziesz się zastanawiać, jak się rozbudować
    za 3 lata.
  </p>
  <div class="container__sections">
    <app-section
      *ngFor="let feature of features"
      [feature]="feature"
    ></app-section>
  </div>
</div>
