.container {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background: linear-gradient(
    90deg,
    #f7f9fd 0,
    #f7f9fd 50%,
    rgba(247, 249, 253, 0.5) 65%,
    rgba(247, 249, 253, 0) 75%,
    rgba(247, 249, 253, 0)
  );
  & > img {
    height: 350px;
    z-index: -1;
  }
  &__text {
    margin-top: 5.5rem;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    & > img {
      height: 200px;
    }
    &__text {
      margin-left: 0px;
      & > h2 {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
      }
    }
  }
}
