/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Raleway", Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100dvh;
  padding: 0;
  margin: 0 !important;
  font-family: "Raleway", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

html {
  font-size: 16px;
}

.Primary_h2 {
  color: #18467f !important;
  font-weight: 400 !important;
  line-height: 1.2 !important;
  font-size: 3.5rem !important;
  margin-bottom: 1.6rem !important;
}

p {
  font-size: 1.5rem;
  line-height: 27.9px;
}
